# === Python build / cache ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Virtual environments ===
venv/
.env/
.venv/

# === Data and JSON archives ===
datasets/*.csv
models/
*.json
logs/*.log
projects/
exports/*.h
trash/
*.edubotproj
*.json
*.spec

# === System / IDE files ===
.DS_Store
Thumbs.db
pytest.ini
ml_debug_log.txt
firmware_export.json
.vscode/
.idx/
test_outputs/
.ipynb_checkpoints/
browser_profile/
chromium/