# NÚCLEO DE LA UI
eel==0.16.0               
bottle==0.12.25           
bottle-websocket==0.2.9   
cryptography==41.0.3

# BACKEND
flask==3.0.0              
flask-cors==4.0.0         
requests==2.31.0         

# UTILIDADES
PyYAML==6.0.2             

# EMPAQUETADO
pyinstaller==6.3.0        